nav {
    padding: 10px;
    position: fixed;
    top: 0;
    right: 35%;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 60px;
}

nav a:hover {
    color: #ff0000;
}